@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Freesentation-4Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Freesentation-9Black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-button {
  @apply w-48 inline justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600;
}

.sign-up-button {
  @apply w-48 inline justify-center rounded-md bg-gray-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600;
}

.login-button-div {
  @apply flex justify-center space-x-4;
}

.naver-login-button {
  @apply w-full flex items-center rounded-md overflow-hidden;
  border: 1px solid #00b818;
}

.naver-login-button-div {
  @apply w-8 h-8 flex justify-center items-center;
  background: #00b818;
}

.google-login-button {
  @apply w-full flex items-center rounded-md overflow-hidden mt-2;
  border: 1px solid #858585;
}

.google-login-button-div {
  @apply w-8 h-8 flex justify-center items-center;
  background: #fff;
  border-right: 1px solid #858585;
}

.oauth-button-span {
  @apply flex-1 text-center text-gray-700 text-xs font-semibold;
}